<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <li className="card">
        <img className="card__img" src="<%= image %>" alt="Carátula de <%=title %>" />
        <h3 className="card__title">
            <%=title %>
        </h3>
        <p className="card__description">Género: <%= gender %>
        </p>
    </li>
</body>

</html>